$screen-small: "(max-width: 414px)";
$screen-medium-tab: "(min-width: 415px) and (max-width: 768px)";
$screen-medium: "(min-width: 769px) and (max-width: 1279px)";
$screen-medium-up: "(min-width: 1280px) and (max-width: 1799px)";
$screen-large: "(min-width: 1800px)";

@function large($value) {
  @return calc($value * 1.25px);
}

@function medium($value, $size: 1280) {
  @return calc($value / $size * 100vw);
}

@function medium-tab($value, $size: 768) {
  @return calc($value / $size * 100vw);
}

@function small($value, $size: 360) {
  @return calc($value / $size * 100vw);
}

.container {
  background: #f3f5ff;
  min-height: 100vh;
}

.wrapper {
  @media #{$screen-large} {
    width: large(480);
    padding: large(50) large(30);
    margin: 0 auto;
  }

  @media #{$screen-medium-up} {
    width: 480px;
    padding: 50px 30px;
    margin: 0 auto;
  }

  @media #{$screen-medium} {
    width: medium(480);
    padding: medium(50) medium(30);
    margin: 0 auto;
  }

  @media #{$screen-medium-tab} {
    width: medium-tab(480);
    padding-top: medium-tab(50);
    padding-bottom: medium-tab(50);
    margin: 0 auto;
  }

  @media #{$screen-small} {
    width: 100%;
    padding: small(30) small(16);
  }
}

.formWrap {
  background: #fff;
  width: 100%;
  box-shadow: 0px 1.19556px 3.58667px rgba(0, 0, 0, 0.1),
    0px 2.39111px 1.19556px rgba(0, 0, 0, 0.06),
    0px 1.19556px 1.19556px rgba(0, 0, 0, 0.08);

  @media #{$screen-large} {
    padding: large(30) large(40);
    border-radius: large(5);
    margin-bottom: large(12);
  }

  @media #{$screen-medium-up} {
    padding: 30px 40px;
    border-radius: 5px;
    margin-bottom: 12px;
  }

  @media #{$screen-medium} {
    padding: medium(30) medium(40);
    border-radius: medium(5);
    margin-bottom: medium(12);
  }

  @media #{$screen-medium-tab} {
    padding: medium-tab(35) medium-tab(48) medium-tab(48);
    border-radius: medium-tab(11);
    margin-bottom: medium-tab(12);
  }

  @media #{$screen-small} {
    padding: small(15) small(30);
    border-radius: small(5);
    margin-bottom: small(12);
  }
}

.logoContainer {
  @media #{$screen-large} {
    width: large(250);
    height: large(90);
    margin-bottom: large(12);
  }

  @media #{$screen-medium-up} {
    width: 250px;
    height: 90px;
    margin-bottom: 12px;
  }

  @media #{$screen-medium} {
    width: medium(250);
    height: medium(90);
    margin-bottom: medium(12);
  }

  @media #{$screen-medium-tab} {
    width: medium-tab(300);
    height: medium-tab(107);
    margin-bottom: medium-tab(12);
  }

  @media #{$screen-small} {
    width: small(300);
    height: small(107);
    margin-bottom: small(12);
  }
}

.heroText {
  font-weight: 300;
  color: #879191;

  @media #{$screen-large} {
    font-size: large(18);
    line-height: large(29);
    margin-bottom: large(12);
  }

  @media #{$screen-medium-up} {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 12px;
  }

  @media #{$screen-medium} {
    font-size: medium(18);
    line-height: medium(29);
    margin-bottom: medium(12);
  }

  @media #{$screen-medium-tab} {
    text-align: center;
    width: medium-tab(390);
    font-size: medium-tab(21);
    line-height: medium-tab(35);
    margin: 0 auto medium-tab(12);
  }

  @media #{$screen-small} {
    text-align: center;
    width: small(266);
    font-size: small(16);
    line-height: small(24);
    margin: 0 auto small(12);
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  position: relative;

  @media #{$screen-large} {
    margin-bottom: large(15) !important;
  }

  @media #{$screen-medium-up} {
    margin-bottom: 15px !important;
  }

  @media #{$screen-medium} {
    margin-bottom: medium(15) !important;
  }

  @media #{$screen-medium-tab} {
    margin-bottom: medium-tab(15) !important;
  }

  @media #{$screen-small} {
    margin-bottom: small(15) !important;
  }

  input {
    outline: none;
    border: 1px solid #f5c99c;
    font-weight: 200;
    color: #585757;

    @media #{$screen-large} {
      height: large(50);
      font-size: large(16);
      line-height: large(22);
      padding: large(2) large(16) 0;
      border-radius: large(5);
    }

    @media #{$screen-medium-up} {
      height: 50px;
      font-size: 16px;
      line-height: 22px;
      padding: 2px 16px 0;
      border-radius: 5px;
    }

    @media #{$screen-medium} {
      height: medium(50);
      font-size: medium(16);
      line-height: medium(22);
      padding: medium(2) medium(16) 0;
      border-radius: medium(5);
    }

    @media #{$screen-medium-tab} {
      height: medium-tab(60);
      font-size: medium-tab(16);
      line-height: medium-tab(22);
      padding: medium-tab(2) medium-tab(19) 0;
      border-radius: medium-tab(5);
    }

    @media #{$screen-small} {
      height: small(40);
      font-size: small(14);
      line-height: small(24);
      padding: small(2) small(12) 0;
      border-radius: small(5);
    }

    &::placeholder {
      color: #879191;
    }
  }
}

.formLabel {
  color: #585757;

  @media #{$screen-large} {
    font-size: large(16);
    line-height: large(22);
    margin-bottom: large(8);
  }

  @media #{$screen-medium-up} {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  @media #{$screen-medium} {
    font-size: medium(16);
    line-height: medium(22);
    margin-bottom: medium(8);
  }

  @media #{$screen-medium-tab} {
    font-size: medium-tab(19);
    line-height: medium-tab(35);
    margin-bottom: medium-tab(8);
  }

  @media #{$screen-small} {
    font-size: small(14);
    line-height: small(24);
    margin-bottom: small(8);
  }
}

.errorItem {
  color: #f45b39;
  font-weight: 400;

  @media #{$screen-large} {
    font-size: large(14);
    line-height: large(18);
    margin-top: large(5);
  }

  @media #{$screen-medium-up} {
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
  }

  @media #{$screen-medium} {
    font-size: medium(14);
    line-height: medium(18);
    margin-top: medium(5);
  }

  @media #{$screen-medium-tab} {
    font-size: medium-tab(14);
    line-height: medium-tab(18);
    margin-top: medium-tab(5);
  }

  @media #{$screen-small} {
    font-size: small(12);
    line-height: small(18);
    margin-top: small(5);
  }
}

.serviceLinksContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media #{$screen-large} {
    margin-bottom: large(8);
  }

  @media #{$screen-medium-up} {
    margin-bottom: 8px;
  }

  @media #{$screen-medium} {
    margin-bottom: medium(8);
  }

  @media #{$screen-medium-tab} {
    margin-bottom: medium-tab(8);
  }

  @media #{$screen-small} {
    margin-bottom: small(8);
  }

  a {
    display: flex;
    cursor: pointer;
    color: #f98600;

    @media #{$screen-large} {
      font-size: large(14);
      line-height: large(29);
      padding: large(5) 0;
    }

    @media #{$screen-medium-up} {
      font-size: 14px;
      line-height: 29px;
      padding: 5px 0;
    }

    @media #{$screen-medium} {
      font-size: medium(14);
      line-height: medium(29);
      padding: medium(5) 0;
    }

    @media #{$screen-medium-tab} {
      font-size: medium-tab(16);
      line-height: medium-tab(35);
      padding: medium-tab(5) 0;
    }

    @media #{$screen-small} {
      font-size: small(14);
      line-height: small(18);
      padding: small(5) 0;
    }
  }
}

.formButton {
  position: relative;
  text-align: center;
  display: block;
  cursor: pointer;
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  background: #f98600;
  border: 1px solid rgba(0, 0, 0, 0.05);

  @media #{$screen-large} {
    font-size: large(18);
    line-height: large(22);
    height: large(50);
    border-radius: large(5);
  }

  @media #{$screen-medium-up} {
    font-size: 18px;
    line-height: 22px;
    height: 50px;
    border-radius: 5px;
  }

  @media #{$screen-medium} {
    font-size: medium(18);
    line-height: medium(22);
    height: medium(50);
    border-radius: medium(5);
  }

  @media #{$screen-medium-tab} {
    font-size: medium-tab(21);
    line-height: medium-tab(35);
    height: medium-tab(64);
    border-radius: medium-tab(5);
  }

  @media #{$screen-small} {
    font-size: small(16);
    line-height: small(24);
    height: small(40);
    border-radius: small(5);
  }

  &:hover {
    background: #f08912;
  }
}

.loginLinkContainer {
  color: #879191;
  text-align: center;

  @media #{$screen-large} {
    font-size: large(14);
    line-height: large(22);
  }

  @media #{$screen-medium-up} {
    font-size: 14px;
    line-height: 22px;
  }

  @media #{$screen-medium} {
    font-size: medium(14);
    line-height: medium(22);
  }

  @media #{$screen-medium-tab} {
    font-size: medium-tab(16);
    line-height: medium-tab(35);
  }

  @media #{$screen-small} {
    font-size: small(14);
    line-height: small(22);
  }

  a {
    color: #f98600;
    font-weight: 600;

    @media #{$screen-large} {
      font-size: large(16);
      line-height: large(22);
      margin-left: large(8);
    }

    @media #{$screen-medium-up} {
      font-size: 16px;
      line-height: 22px;
      margin-left: 8px;
    }

    @media #{$screen-medium} {
      font-size: medium(16);
      line-height: medium(22);
      margin-left: medium(8);
    }

    @media #{$screen-medium-tab} {
      font-size: medium-tab(16);
      line-height: medium-tab(35);
      margin-left: medium-tab(8);
    }

    @media #{$screen-small} {
      font-size: small(16);
      line-height: small(22);
      margin-left: small(8);
    }
  }
}

.loaderContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  @media #{$screen-large} {
    width: large(40);
    height: large(40);
  }

  @media #{$screen-medium-up} {
    width: 40px;
    height: 40px;
  }

  @media #{$screen-medium} {
    width: medium(40);
    height: medium(40);
  }

  @media #{$screen-medium-tab} {
    width: medium-tab(50);
    height: medium-tab(50);
  }

  @media #{$screen-small} {
    width: small(40);
    height: small(40);
  }
}

.separator {
  @media #{$screen-large} {
    height: large(18);
  }

  @media #{$screen-medium-up} {
    height: 18px;
  }

  @media #{$screen-medium} {
    height: medium(18);
  }

  @media #{$screen-medium-tab} {
    height: medium-tab(18);
  }

  @media #{$screen-small} {
    height: small(18);
  }
}

.logoLink {
  display: block;
  outline: none;
}
