$screen-small: "(max-width: 414px)";
$screen-medium-tab: "(min-width: 415px) and (max-width: 768px)";
$screen-medium: "(min-width: 769px) and (max-width: 1279px)";
$screen-medium-up: "(min-width: 1280px) and (max-width: 1799px)";
$screen-large: "(min-width: 1800px)";

@function large($value) {
  @return calc($value * 1.25px);
}

@function medium($value, $size: 1280) {
  @return calc($value / $size * 100vw);
}

@function medium-tab($value, $size: 768) {
  @return calc($value / $size * 100vw);
}

@function small($value, $size: 360) {
  @return calc($value / $size * 100vw);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f5ff;
  height: 100vh;
  padding-bottom: 5%;
}

.wrapper {
  @media #{$screen-large} {
    width: large(480);
    padding: 0 large(30);
  }

  @media #{$screen-medium-up} {
    width: 480px;
    padding: 0 30px;
  }

  @media #{$screen-medium} {
    width: medium(480);
    padding: 0 medium(30);
  }

  @media #{$screen-medium-tab} {
    width: medium-tab(480);
  }

  @media #{$screen-small} {
    width: 100%;
    padding: 0 small(16);
  }
}

.logoContainer {
  @media #{$screen-large} {
    width: large(250);
    height: large(90);
    margin-bottom: large(20);
  }

  @media #{$screen-medium-up} {
    width: 250px;
    height: 90px;
    margin-bottom: 20px;
  }

  @media #{$screen-medium} {
    width: medium(250);
    height: medium(90);
    margin-bottom: medium(20);
  }

  @media #{$screen-medium-tab} {
    width: medium-tab(250);
    height: medium-tab(90);
    margin-bottom: medium-tab(20);
  }

  @media #{$screen-small} {
    width: small(250);
    height: small(90);
    margin-bottom: small(20);
  }
}

.infoBg {
  background: #fff;
  @media #{$screen-large} {
    padding: large(40);
    border-radius: large(5);
  }

  @media #{$screen-medium-up} {
    padding: 40px;
    border-radius: 5px;
  }

  @media #{$screen-medium} {
    padding: medium(40);
    border-radius: medium(5);
  }

  @media #{$screen-medium-tab} {
    padding: medium-tab(40);
    border-radius: medium-tab(5);
  }

  @media #{$screen-small} {
    padding: small(20);
    border-radius: small(5);
  }
}

.description {
  color: #585757;

  @media #{$screen-large} {
    font-size: large(16);
    line-height: large(24);
    margin-bottom: large(25);
  }

  @media #{$screen-medium-up} {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
  }

  @media #{$screen-medium} {
    font-size: medium(16);
    line-height: medium(24);
    margin-bottom: medium(25);
  }

  @media #{$screen-medium-tab} {
    font-size: medium-tab(16);
    line-height: medium-tab(24);
    margin-bottom: medium-tab(25);
  }

  @media #{$screen-small} {
    font-size: small(16);
    line-height: small(24);
    margin-bottom: small(25);
  }
}

.linkContainer {
  display: flex;
  justify-content: center;

  a {
    display: flex;
    background: #f98600;
    border: 1px solid rgba(0, 0, 0, 0.05);
    align-items: center;
    justify-content: center;
    color: #fff;

    @media #{$screen-large} {
      font-size: large(18);
      line-height: large(22);
      height: large(50);
      border-radius: large(5);
      padding: 0 large(10);
    }

    @media #{$screen-medium-up} {
      font-size: 18px;
      line-height: 22px;
      height: 50px;
      border-radius: 5px;
      padding: 0 10px;
    }

    @media #{$screen-medium} {
      font-size: medium(18);
      line-height: medium(22);
      height: medium(50);
      border-radius: medium(5);
      padding: 0 medium(10);
    }

    @media #{$screen-medium-tab} {
      font-size: medium-tab(18);
      line-height: medium-tab(22);
      height: medium-tab(50);
      border-radius: medium-tab(5);
      padding: 0 medium-tab(10);
    }

    @media #{$screen-small} {
      font-size: small(18);
      line-height: small(22);
      height: small(50);
      border-radius: small(5);
      padding: 0 small(10);
    }

    &:hover {
      background: #f08912;
    }
  }
}

.bold {
  font-weight: 600;
}
