$screen-small: "(max-width: 414px)";
$screen-medium-tab: "(min-width: 415px) and (max-width: 768px)";
$screen-medium: "(min-width: 769px) and (max-width: 1279px)";
$screen-medium-up: "(min-width: 1280px) and (max-width: 1799px)";
$screen-large: "(min-width: 1800px)";

@function large($value) {
  @return calc($value * 1.25px);
}

@function medium($value, $size: 1280) {
  @return calc($value / $size * 100vw);
}

@function medium-tab($value, $size: 768) {
  @return calc($value / $size * 100vw);
}

@function small($value, $size: 360) {
  @return calc($value / $size * 100vw);
}

.filterContainer {
  background: #f3f5ff;
  display: flex;
  flex-direction: column;

  @media #{$screen-large} {
    padding: large(15) large(22);
  }

  @media #{$screen-medium-up} {
    padding: 15px 22px;
  }

  @media #{$screen-medium} {
    padding: medium(15) medium(22);
  }

  @media #{$screen-medium-tab} {
    padding: medium-tab(15) medium-tab(22);
  }

  @media #{$screen-small} {
    padding: small(15) small(22);
  }

  form {
    display: flex;
    flex-wrap: wrap;

    @media #{$screen-large} {
      margin-bottom: large(40);
    }

    @media #{$screen-medium-up} {
      margin-bottom: 40px;
    }

    @media #{$screen-medium} {
      margin-bottom: medium(40);
    }

    @media #{$screen-medium-tab} {
      margin-bottom: medium-tab(40);
    }

    @media #{$screen-small} {
      margin-bottom: small(40);
    }
  }
}

.filterGroupItems {
  display: flex;
  flex-direction: column;

  @media #{$screen-large} {
    margin: 0 large(12) large(20);
  }

  @media #{$screen-medium-up} {
    margin: 0 12px 20px;
  }

  @media #{$screen-medium} {
    margin: 0 medium(12) medium(20);
  }

  @media #{$screen-medium-tab} {
    margin: 0 medium-tab(12) medium-tab(20);
  }

  @media #{$screen-small} {
    margin: 0 small(12) small(20);
  }
}

.filterGroupItemsContainer {
  display: flex;
}

.filterGroupTitle {
  display: flex;
  color: #969696;

  @media #{$screen-large} {
    font-size: large(14);
    line-height: large(16);
    margin-bottom: large(12);
  }

  @media #{$screen-medium-up} {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
  }

  @media #{$screen-medium} {
    font-size: medium(14);
    line-height: medium(16);
    margin-bottom: medium(12);
  }

  @media #{$screen-medium-tab} {
    font-size: medium-tab(14);
    line-height: medium-tab(16);
    margin-bottom: medium-tab(12);
  }

  @media #{$screen-small} {
    font-size: small(14);
    line-height: small(16);
    margin-bottom: small(12);
  }

  &:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "?";
    color: #f5c99c;
    border: 1px solid #f5c99c;
    border-radius: 50%;

    @media #{$screen-large} {
      width: large(14);
      height: large(14);
      margin-right: large(6);
    }

    @media #{$screen-medium-up} {
      width: 14px;
      height: 14px;
      margin-right: 6px;
    }

    @media #{$screen-medium} {
      width: medium(14);
      height: medium(14);
      margin-right: medium(6);
    }

    @media #{$screen-medium-tab} {
      width: medium-tab(14);
      height: medium-tab(14);
      margin-right: medium-tab(6);
    }

    @media #{$screen-small} {
      width: small(14);
      height: small(14);
      margin-right: small(6);
    }
  }
}

.filterItem {
  cursor: pointer;
  color: #969696;
  background: #f7fcff;
  border-left: 1px solid #dadada;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;

  &:first-child {
    @media #{$screen-large} {
      border-top-left-radius: large(4);
      border-bottom-left-radius: large(4);
    }

    @media #{$screen-medium-up} {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    @media #{$screen-medium} {
      border-top-left-radius: medium(4);
      border-bottom-left-radius: medium(4);
    }

    @media #{$screen-medium-tab} {
      border-top-left-radius: medium-tab(4);
      border-bottom-left-radius: medium-tab(4);
    }

    @media #{$screen-small} {
      border-top-left-radius: small(4);
      border-bottom-left-radius: small(4);
    }

    .filterLabel {
      @media #{$screen-large} {
        border-top-left-radius: large(4);
        border-bottom-left-radius: large(4);
      }

      @media #{$screen-medium-up} {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      @media #{$screen-medium} {
        border-top-left-radius: medium(4);
        border-bottom-left-radius: medium(4);
      }

      @media #{$screen-medium-tab} {
        border-top-left-radius: medium-tab(4);
        border-bottom-left-radius: medium-tab(4);
      }

      @media #{$screen-small} {
        border-top-left-radius: small(4);
        border-bottom-left-radius: small(4);
      }
    }

    .filterBoolLabel {
      @media #{$screen-large} {
        border-top-left-radius: large(4);
        border-bottom-left-radius: large(4);
      }

      @media #{$screen-medium-up} {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      @media #{$screen-medium} {
        border-top-left-radius: medium(4);
        border-bottom-left-radius: medium(4);
      }

      @media #{$screen-medium-tab} {
        border-top-left-radius: medium-tab(4);
        border-bottom-left-radius: medium-tab(4);
      }

      @media #{$screen-small} {
        border-top-left-radius: small(4);
        border-bottom-left-radius: small(4);
      }
    }
  }

  &:last-child {
    border-right: 1px solid #dadada;

    @media #{$screen-large} {
      border-top-right-radius: large(4);
      border-bottom-right-radius: large(4);
    }

    @media #{$screen-medium-up} {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    @media #{$screen-medium} {
      border-top-right-radius: medium(4);
      border-bottom-right-radius: medium(4);
    }

    @media #{$screen-medium-tab} {
      border-top-right-radius: medium-tab(4);
      border-bottom-right-radius: medium-tab(4);
    }

    @media #{$screen-small} {
      border-top-right-radius: small(4);
      border-bottom-right-radius: small(4);
    }

    .filterLabel {
      @media #{$screen-large} {
        border-top-right-radius: large(4);
        border-bottom-right-radius: large(4);
      }

      @media #{$screen-medium-up} {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      @media #{$screen-medium} {
        border-top-right-radius: medium(4);
        border-bottom-right-radius: medium(4);
      }

      @media #{$screen-medium-tab} {
        border-top-right-radius: medium-tab(4);
        border-bottom-right-radius: medium-tab(4);
      }

      @media #{$screen-small} {
        border-top-right-radius: small(4);
        border-bottom-right-radius: small(4);
      }
    }

    .filterBoolLabel {
      @media #{$screen-large} {
        border-top-right-radius: large(4);
        border-bottom-right-radius: large(4);
      }

      @media #{$screen-medium-up} {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      @media #{$screen-medium} {
        border-top-right-radius: medium(4);
        border-bottom-right-radius: medium(4);
      }

      @media #{$screen-medium-tab} {
        border-top-right-radius: medium-tab(4);
        border-bottom-right-radius: medium-tab(4);
      }

      @media #{$screen-small} {
        border-top-right-radius: small(4);
        border-bottom-right-radius: small(4);
      }
    }
  }

  input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  input[type="radio"]:checked + label {
    color: #f98600;
    background: #fff5e8;
  }

  .filterLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;

    @media #{$screen-large} {
      height: large(40);
      font-size: large(14);
      line-height: large(16);
      padding: 0 large(16);
    }

    @media #{$screen-medium-up} {
      height: 40px;
      font-size: 14px;
      line-height: 16px;
      padding: 0 16px;
    }

    @media #{$screen-medium} {
      height: medium(40);
      font-size: medium(14);
      line-height: medium(16);
      padding: 0 medium(16);
    }

    @media #{$screen-medium-tab} {
      height: medium-tab(40);
      font-size: medium-tab(14);
      line-height: medium-tab(16);
      padding: 0 medium-tab(16);
    }

    @media #{$screen-small} {
      height: small(40);
      font-size: small(14);
      line-height: small(16);
      padding: 0 small(16);
    }
  }

  .filterBoolLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;

    @media #{$screen-large} {
      height: large(40);
      font-size: large(14);
      line-height: large(16);
      padding: 0 large(25);
    }

    @media #{$screen-medium-up} {
      height: 40px;
      font-size: 14px;
      line-height: 16px;
      padding: 0 25px;
    }

    @media #{$screen-medium} {
      height: medium(40);
      font-size: medium(14);
      line-height: medium(16);
      padding: 0 medium(25);
    }

    @media #{$screen-medium-tab} {
      height: medium-tab(40);
      font-size: medium-tab(14);
      line-height: medium-tab(16);
      padding: 0 medium-tab(25);
    }

    @media #{$screen-small} {
      height: small(40);
      font-size: small(14);
      line-height: small(16);
      padding: 0 small(25);
    }

    svg {
      @media #{$screen-large} {
        width: large(24);
        height: large(24);
      }

      @media #{$screen-medium-up} {
        width: 24px;
        height: 24px;
      }

      @media #{$screen-medium} {
        width: medium(24);
        height: medium(24);
      }

      @media #{$screen-medium-tab} {
        width: medium-tab(24);
        height: medium-tab(24);
      }

      @media #{$screen-small} {
        width: small(24);
        height: small(24);
      }
    }
  }
}

.selectDropdown {
  position: absolute;
  color: #969696;
  transition: max-height 0.2s ease-in;
  border: none;
  width: 100%;
  left: 0;

  @media #{$screen-large} {
    top: large(40);
  }

  @media #{$screen-medium-up} {
    top: 40px;
  }

  @media #{$screen-medium} {
    top: medium(40);
  }

  @media #{$screen-medium-tab} {
    top: medium-tab(40);
  }

  @media #{$screen-small} {
    top: small(40);
  }

  li {
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #dadada;
    cursor: pointer;

    @media #{$screen-large} {
      height: large(30);
      padding: 0 large(10);
    }

    @media #{$screen-medium-up} {
      height: 30px;
      padding: 0 10px;
    }

    @media #{$screen-medium} {
      height: medium(30);
      padding: 0 medium(10);
    }

    @media #{$screen-medium-tab} {
      height: medium-tab(30);
      padding: 0 medium-tab(10);
    }

    @media #{$screen-small} {
      height: small(30);
      padding: 0 small(10);
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.selectContainer {
  position: relative;
  display: flex;
  flex-direction: column;

  @media #{$screen-large} {
    font-size: large(14);
    line-height: large(16);
  }

  @media #{$screen-medium-up} {
    font-size: 14px;
    line-height: 16px;
  }

  @media #{$screen-medium} {
    font-size: medium(14);
    line-height: medium(16);
  }

  @media #{$screen-medium-tab} {
    font-size: medium-tab(14);
    line-height: medium-tab(16);
  }

  @media #{$screen-small} {
    font-size: small(14);
    line-height: small(16);
  }

  .selectDropdown {
    overflow-y: hidden;
    border: none;
    max-height: 0;
  }
}

.selectContainerOpen {
  .selectValue {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    svg {
      transform: rotate(360deg);
    }
  }

  .selectDropdown {
    overflow-y: auto;
    border: 1px solid #dadada;
    border-top: none;

    @media #{$screen-large} {
      max-height: large(183);
      border-bottom-left-radius: large(4);
      border-bottom-right-radius: large(4);
    }

    @media #{$screen-medium-up} {
      max-height: 183px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    @media #{$screen-medium} {
      max-height: medium(183);
      border-bottom-left-radius: medium(4);
      border-bottom-right-radius: medium(4);
    }

    @media #{$screen-medium-tab} {
      max-height: medium-tab(183);
      border-bottom-left-radius: medium-tab(4);
      border-bottom-right-radius: medium-tab(4);
    }

    @media #{$screen-small} {
      max-height: small(183);
      border-bottom-left-radius: small(4);
      border-bottom-right-radius: small(4);
    }
  }
}

.selectValue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #969696;
  background: #fff;
  border: 1px solid #dadada;
  cursor: pointer;

  @media #{$screen-large} {
    height: large(40);
    padding: 0 large(16);
    border-radius: large(4);
  }

  @media #{$screen-medium-up} {
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
  }

  @media #{$screen-medium} {
    height: medium(40);
    padding: 0 medium(16);
    border-radius: medium(4);
  }

  @media #{$screen-medium-tab} {
    height: medium-tab(40);
    padding: 0 medium-tab(16);
    border-radius: medium-tab(4);
  }

  @media #{$screen-small} {
    height: small(40);
    padding: 0 small(16);
    border-radius: small(4);
  }

  svg {
    transition: transform 0.2s ease-in-out;
    transform: rotate(180deg);

    @media #{$screen-large} {
      width: large(12);
      height: large(10);
    }

    @media #{$screen-medium-up} {
      width: 12px;
      height: 10px;
    }

    @media #{$screen-medium} {
      width: medium(12);
      height: medium(10);
    }

    @media #{$screen-medium-tab} {
      width: medium-tab(12);
      height: medium-tab(10);
    }

    @media #{$screen-small} {
      width: small(12);
      height: small(10);
    }
  }
}

.filterBtnCreateContainer {
  display: flex;
  justify-content: flex-end;

  @media #{$screen-small} {
    justify-content: space-between;
  }
}

.filterBtnCreate {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  outline: none;
  background: #f98600;
  border: 1px solid rgba(0, 0, 0, 0.05);

  @media #{$screen-large} {
    font-size: large(18);
    height: large(50);
    border-radius: large(5);
    width: large(150);
  }

  @media #{$screen-medium-up} {
    font-size: 18px;
    height: 50px;
    border-radius: 5px;
    width: 150px;
  }

  @media #{$screen-medium} {
    font-size: medium(18);
    height: medium(50);
    border-radius: medium(5);
    width: medium(150);
  }

  @media #{$screen-medium-tab} {
    font-size: medium-tab(18);
    height: medium-tab(50);
    border-radius: medium-tab(5);
    width: medium-tab(150);
  }

  @media #{$screen-small} {
    font-size: small(18);
    height: small(50);
    border-radius: small(5);
    width: small(150);
  }
}

.filterBtnSave {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  outline: none;
  background: #56f450;
  border: 1px solid rgba(0, 0, 0, 0.05);

  @media #{$screen-large} {
    font-size: large(18);
    height: large(50);
    border-radius: large(5);
    width: large(150);
    margin-right: large(20);
  }

  @media #{$screen-medium-up} {
    font-size: 18px;
    height: 50px;
    border-radius: 5px;
    width: 150px;
    margin-right: 20px;
  }

  @media #{$screen-medium} {
    font-size: medium(18);
    height: medium(50);
    border-radius: medium(5);
    width: medium(150);
    margin-right: medium(20);
  }

  @media #{$screen-medium-tab} {
    font-size: medium-tab(18);
    height: medium-tab(50);
    border-radius: medium-tab(5);
    width: medium-tab(150);
    margin-right: medium-tab(20);
  }

  @media #{$screen-small} {
    font-size: small(18);
    height: small(50);
    border-radius: small(5);
    width: small(150);
  }
}

.selectDisabled {
  pointer-events: none;
}

.btnDisabled {
  background: #969696;
  border: 1px solid #969696;
  pointer-events: none;
  cursor: default;
}
