$screen-small: "(max-width: 414px)";
$screen-medium-tab: "(min-width: 415px) and (max-width: 768px)";
$screen-medium: "(min-width: 769px) and (max-width: 1279px)";
$screen-medium-up: "(min-width: 1280px) and (max-width: 1799px)";
$screen-large: "(min-width: 1800px)";

@function large($value) {
	@return calc($value * 1.25px);
}

@function medium($value, $size: 1280) {
	@return calc($value / $size * 100vw);
}

@function medium-tab($value, $size: 768) {
	@return calc($value / $size * 100vw);
}

@function small($value, $size: 360) {
	@return calc($value / $size * 100vw);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f7fcff;

	@media #{$screen-large} {
		height: large(70);
		padding: 0 large(25);
	}

	@media #{$screen-medium-up} {
		height: 70px;
		padding: 0 25px;
	}

	@media #{$screen-medium} {
		height: medium(70);
		padding: 0 medium(25);
	}

	@media #{$screen-medium-tab} {
		height: medium-tab(70);
		padding: 0 medium-tab(25);
	}

	@media #{$screen-small} {
		height: small(70);
		padding: 0 small(25);
	}
}

.userInfo {
	display: flex;
}

.avatar {
	border: 2px solid #f5c99c;
	border-radius: 50%;

	@media #{$screen-large} {
		width: large(35);
		height: large(35);
		margin-right: large(8);
	}

	@media #{$screen-medium-up} {
		width: 35px;
		height: 35px;
		margin-right: 8px;
	}

	@media #{$screen-medium} {
		width: medium(35);
		height: medium(35);
		margin-right: medium(8);
	}

	@media #{$screen-medium-tab} {
		width: medium-tab(35);
		height: medium-tab(35);
		margin-right: medium-tab(8);
	}

	@media #{$screen-small} {
		width: small(35);
		height: small(35);
		margin-right: small(8);
	}

	span {
		border-radius: 50%;
	}
}

.userDescription {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.userName {
	color: #5f6c6c;
	font-weight: 600;

	@media #{$screen-large} {
		font-size: large(18);
		line-height: large(20);
	}

	@media #{$screen-medium-up} {
		font-size: 18px;
		line-height: 20px;
	}

	@media #{$screen-medium} {
		font-size: medium(18);
		line-height: medium(20);
	}

	@media #{$screen-medium-tab} {
		font-size: medium-tab(18);
		line-height: medium-tab(20);
	}

	@media #{$screen-small} {
		font-size: small(18);
		line-height: small(20);
	}
}

.searchWrap {
	position: relative;
	display: flex;
	align-items: center;

	input {
		outline: none;
		border: 1px solid #f5c99c;
		font-weight: 200;
		color: #585757;

		@media #{$screen-large} {
			height: large(50);
			font-size: large(16);
			line-height: large(22);
			padding: large(2) large(16) 0;
			border-radius: large(5);
			margin-right: large(7);
		}

		@media #{$screen-medium-up} {
			height: 50px;
			width: 300px;
			font-size: 16px;
			line-height: 22px;
			padding: 2px 16px 0;
			border-radius: 5px;
			margin-right: 7px;
		}

		@media #{$screen-medium} {
			height: medium(50);
			width: medium(300);
			font-size: medium(16);
			line-height: medium(22);
			padding: medium(2) medium(16) 0;
			border-radius: medium(5);
			margin-right: medium(7);
		}

		@media #{$screen-medium-tab} {
			height: medium-tab(60);
			width: medium-tab(250);
			font-size: medium-tab(16);
			line-height: medium-tab(22);
			padding: medium-tab(2) medium-tab(19) 0;
			border-radius: medium-tab(5);
			margin-right: medium-tab(7);
		}

		@media #{$screen-small} {
			height: small(40);
			width: small(170);
			font-size: small(14);
			line-height: small(24);
			padding: small(2) small(12) 0;
			border-radius: small(5);
			margin-right: small(7);
		}

		&::placeholder {
			color: #879191;
		}
	}
}

.searchCross {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	@media #{$screen-large} {
		height: large(30);
		width: large(30);
	}

	@media #{$screen-medium-up} {
		height: medium-up(30);
		width: medium-up(30);
	}

	@media #{$screen-medium} {
		height: medium(30);
		width: medium(30);
	}

	@media #{$screen-medium-tab} {
		height: medium-tab(30);
		width: medium-tab(30);
	}

	@media #{$screen-small} {
		height: small(30);
		width: small(30);
	}

	svg {
		cursor: pointer;

		@media #{$screen-large} {
			height: large(20);
			width: large(20);
		}

		@media #{$screen-medium-up} {
			height: medium-up(20);
			width: medium-up(20);
		}

		@media #{$screen-medium} {
			height: medium(20);
			width: medium(20);
		}

		@media #{$screen-medium-tab} {
			height: medium-tab(20);
			width: medium-tab(20);
		}

		@media #{$screen-small} {
			height: small(20);
			width: small(20);
		}
	}
}
