$screen-small: "(max-width: 414px)";
$screen-medium-tab: "(min-width: 415px) and (max-width: 768px)";
$screen-medium: "(min-width: 769px) and (max-width: 1279px)";
$screen-medium-up: "(min-width: 1280px) and (max-width: 1799px)";
$screen-large: "(min-width: 1800px)";

@function large($value) {
  @return calc($value * 1.25px);
}

@function medium($value, $size: 1280) {
  @return calc($value / $size * 100vw);
}

@function medium-tab($value, $size: 768) {
  @return calc($value / $size * 100vw);
}

@function small($value, $size: 360) {
  @return calc($value / $size * 100vw);
}

.sidebarContainer {
  overflow: hidden;
  width: 100%;
}

.sidebar {
  position: relative;
  display: flex;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  transition: all 0.4s linear;
  color: #969696;

  @media #{$screen-large} {
    width: 0;
  }

  @media #{$screen-medium-up} {
    width: 0;
  }

  @media #{$screen-medium} {
    width: 0;
  }

  @media #{$screen-medium-tab} {
    width: medium-tab(310);
  }

  @media #{$screen-small} {
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  &.activeSidebar {
    transition: all 0.4s linear;

    @media #{$screen-large} {
      width: large(310);
    }

    @media #{$screen-medium-up} {
      width: 310px;
    }

    @media #{$screen-medium} {
      width: medium(310);
    }

    @media #{$screen-medium-tab} {
      width: 0;
    }

    @media #{$screen-small} {
      width: 0;
      position: relative;
    }

    .sidebarBtn {
      transform: rotate(0deg);

      @media #{$screen-large} {
        right: large(-15);
      }

      @media #{$screen-medium-up} {
        right: -15px;
      }

      @media #{$screen-medium} {
        right: medium(-15);
      }

      @media #{$screen-medium-tab} {
        right: medium-tab(-15);
        transform: rotate(180deg);
      }

      @media #{$screen-small} {
        right: small(-30);
        transform: rotate(180deg);
      }
    }
  }
}

.sidebarBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  background: #fff;

  @media #{$screen-large} {
    width: large(30);
    height: large(30);
    right: large(-20);
    top: large(55);
    transform: rotate(180deg);
  }

  @media #{$screen-medium-up} {
    width: 30px;
    height: 30px;
    right: -20px;
    top: 55px;
    transform: rotate(180deg);
  }

  @media #{$screen-medium} {
    width: medium(30);
    height: medium(30);
    right: medium(-20);
    top: medium(55);
    transform: rotate(180deg);
  }

  @media #{$screen-medium-tab} {
    width: medium-tab(30);
    height: medium-tab(30);
    right: medium-tab(-20);
    top: medium-tab(55);
    transform: rotate(0deg);
  }

  @media #{$screen-small} {
    width: small(30);
    height: small(30);
    right: 0;
    top: small(55);
    transform: rotate(0deg);
  }

  svg {
    @media #{$screen-large} {
      width: large(8);
      height: large(12);
    }

    @media #{$screen-medium-up} {
      width: 8px;
      height: 12px;
    }

    @media #{$screen-medium} {
      width: medium(8);
      height: medium(12);
    }

    @media #{$screen-medium-tab} {
      width: medium-tab(8);
      height: medium-tab(12);
    }

    @media #{$screen-small} {
      width: small(8);
      height: small(12);
    }
  }
}

.sidebarWrapper {
  height: 100%;

  @media #{$screen-large} {
    padding: large(30) large(12);
  }

  @media #{$screen-medium-up} {
    padding: 30px 12px;
  }

  @media #{$screen-medium} {
    padding: medium(30) medium(12);
  }

  @media #{$screen-medium-tab} {
    padding: medium-tab(30) medium-tab(12);
  }

  @media #{$screen-small} {
    padding: small(30) small(12);
  }
}

.logoContainer {
  @media #{$screen-large} {
    width: large(200);
    height: large(70);
    margin: 0 0 large(30) large(16);
  }

  @media #{$screen-medium-up} {
    width: 200px;
    height: 70px;
    margin: 0 0 30px 16px;
  }

  @media #{$screen-medium} {
    width: medium(200);
    height: medium(70);
    margin: 0 0 medium(30) medium(16);
  }

  @media #{$screen-medium-tab} {
    width: medium-tab(200);
    height: medium-tab(70);
    margin: 0 0 medium-tab(30) medium-tab(16);
  }

  @media #{$screen-small} {
    width: small(200);
    height: small(70);
    margin: 0 0 small(30) small(16);
  }
}

.menuContainer {
  @media #{$screen-large} {
    width: large(286);
  }

  @media #{$screen-medium-up} {
    width: 286px;
  }

  @media #{$screen-medium} {
    width: medium(286);
  }

  @media #{$screen-medium-tab} {
    width: medium-tab(286);
  }

  @media #{$screen-small} {
    width: small(286);
  }
}

.menuTitle {
  text-transform: uppercase;
  font-weight: 400;

  @media #{$screen-large} {
    font-size: large(12);
    line-height: large(16);
    margin: large(12) large(15);
  }

  @media #{$screen-medium-up} {
    font-size: 12px;
    line-height: 16px;
    margin: 12px 15px;
  }

  @media #{$screen-medium} {
    font-size: medium(12);
    line-height: medium(16);
    margin: medium(12) medium(15);
  }

  @media #{$screen-medium-tab} {
    font-size: medium-tab(12);
    line-height: medium-tab(16);
    margin: medium-tab(12) medium-tab(15);
  }

  @media #{$screen-small} {
    font-size: small(12);
    line-height: small(16);
    margin: small(12) small(15);
  }

  &:last-of-type {
    @media #{$screen-large} {
      margin-top: large(150);
    }

    @media #{$screen-medium-up} {
      margin-top: 150px;
    }

    @media #{$screen-medium} {
      margin-top: medium(150);
    }

    @media #{$screen-medium-tab} {
      margin-top: medium-tab(150);
    }

    @media #{$screen-small} {
      margin-top: small(150);
    }
  }
}

.nav {
  list-style-type: none;

  li {
    @media #{$screen-large} {
      margin: large(3) 0;
    }

    @media #{$screen-medium-up} {
      margin: 3px 0;
    }

    @media #{$screen-medium} {
      margin: medium(3) 0;
    }

    @media #{$screen-medium-tab} {
      margin: medium-tab(3) 0;
    }

    @media #{$screen-small} {
      margin: small(3) 0;
    }

    &:hover {
      background: linear-gradient(0deg, #fef3e5, #fef3e5), #ffffff;

      @media #{$screen-large} {
        border-radius: large(8);
      }

      @media #{$screen-medium-up} {
        border-radius: 8px;
      }

      @media #{$screen-medium} {
        border-radius: medium(8);
      }

      @media #{$screen-medium-tab} {
        border-radius: medium-tab(8);
      }

      @media #{$screen-small} {
        border-radius: small(8);
      }

      .menuLink {
        color: #585757;

        svg {
          color: #f98600;
        }
      }
    }
  }
}

.menuLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: #969696;

  @media #{$screen-large} {
    font-size: large(16);
    line-height: large(24);
    padding: large(12) large(15);
  }

  @media #{$screen-medium-up} {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 15px;
  }

  @media #{$screen-medium} {
    font-size: medium(16);
    line-height: medium(24);
    padding: medium(12) medium(15);
  }

  @media #{$screen-medium-tab} {
    font-size: medium-tab(16);
    line-height: medium-tab(24);
    padding: medium-tab(12) medium-tab(15);
  }

  @media #{$screen-small} {
    font-size: small(16);
    line-height: small(24);
    padding: small(12) small(15);
  }

  svg {
    @media #{$screen-large} {
      margin-right: large(15);
    }

    @media #{$screen-medium-up} {
      margin-right: 15px;
    }

    @media #{$screen-medium} {
      margin-right: medium(15);
    }

    @media #{$screen-medium-tab} {
      margin-right: medium-tab(15);
    }

    @media #{$screen-small} {
      margin-right: small(15);
    }
  }
}

.menuLinkActive {
  background: linear-gradient(0deg, #fef3e5, #fef3e5), #ffffff;

  @media #{$screen-large} {
    border-radius: large(8);
  }

  @media #{$screen-medium-up} {
    border-radius: 8px;
  }

  @media #{$screen-medium} {
    border-radius: medium(8);
  }

  @media #{$screen-medium-tab} {
    border-radius: medium-tab(8);
  }

  @media #{$screen-small} {
    border-radius: small(8);
  }

  .menuLink {
    color: #585757;

    svg {
      color: #f98600;
    }
  }
}

.progress {
  background: #f98600;
  color: #fff;

  @media #{$screen-large} {
    font-size: large(16);
    line-height: large(24);
    padding: large(1) large(10);
    border-radius: large(16);
    margin-left: large(10);
  }

  @media #{$screen-medium-up} {
    font-size: 16px;
    line-height: 24px;
    padding: 1px 10px;
    border-radius: 16px;
    margin-left: 10px;
  }

  @media #{$screen-medium} {
    font-size: medium(16);
    line-height: medium(24);
    padding: medium(1) medium(10);
    border-radius: medium(16);
    margin-left: medium(10);
  }

  @media #{$screen-medium-tab} {
    font-size: medium-tab(16);
    line-height: medium-tab(24);
    padding: medium-tab(1) medium-tab(10);
    border-radius: medium-tab(16);
    margin-left: medium-tab(10);
  }

  @media #{$screen-small} {
    font-size: small(16);
    line-height: small(24);
    padding: small(1) small(10);
    border-radius: small(16);
    margin-left: small(10);
  }
}
