$screen-small: "(max-width: 414px)";
$screen-medium-down: "(min-width: 415px) and (max-width: 1199px)";
$screen-medium-up: "(min-width: 1200px) and (max-width: 1799px)";
$screen-medium: "(min-width: 415px) and (max-width: 1799px)";
$screen-large: "(min-width: 1800px)";

@function large($value) {
	@return calc($value * 1.25px);
}

@function medium-down($value, $size: 1200) {
	@return calc($value / $size * 100vw);
}

@function small($value, $size: 375) {
	@return calc($value / $size * 100vw);
}

.container {
	@media #{$screen-large} {
		margin-bottom: large(15);
	}

	@media #{$screen-medium-up} {
		margin-bottom: 15px;
	}

	@media #{$screen-medium-down} {
		margin-bottom: medium-down(15);
	}

	@media #{$screen-small} {
	}
}
