$screen-small: "(max-width: 414px)";
$screen-medium-tab: "(min-width: 415px) and (max-width: 768px)";
$screen-medium: "(min-width: 769px) and (max-width: 1279px)";
$screen-medium-up: "(min-width: 1280px) and (max-width: 1799px)";
//$screen-medium: "(min-width: 415px) and (max-width: 1799px)";
$screen-large: "(min-width: 1800px)";

@function large($value) {
	@return calc($value * 1.25px);
}

@function medium($value, $size: 1280) {
	@return calc($value / $size * 100vw);
}

@function medium-tab($value, $size: 768) {
	@return calc($value / $size * 100vw);
}

@function small($value, $size: 360) {
	@return calc($value / $size * 100vw);
}

.container {
	background: #f7fcff;
	height: 100vh;
	overflow-x: hidden;
}

.wrapper {
	position: relative;

	@media #{$screen-large} {
		max-width: large(1200);
		padding: 0 large(40) large(40);
		margin: 0 auto;
	}

	@media #{$screen-medium-up} {
		max-width: 1280px;
		padding: 0 15px 40px;
		margin: 0 auto;
	}

	@media #{$screen-medium} {
		max-width: medium(1280);
		padding: 0 medium(15) medium(40);
		margin: 0 auto;
	}

	@media #{$screen-medium-tab} {
		padding: 0 medium-tab(15) medium-tab(160);
	}

	@media #{$screen-small} {
		padding: 0 small(14) small(20);
	}
}

.backgroundBanner {
	position: absolute;
	height: auto;
	z-index: 1;

	@media #{$screen-large} {
		width: 612px;
		right: large(16);
		top: large(140);
	}

	@media #{$screen-medium-up} {
		width: 612px;
		right: 16px;
		top: 140px;
	}

	@media #{$screen-medium} {
		width: medium(612);
		right: medium(16);
		top: medium(140);
	}

	@media #{$screen-medium-tab} {
		width: medium-tab(483);
		right: medium-tab(16);
		top: medium-tab(80);
	}

	@media #{$screen-small} {
		display: none;
	}
}

.backgroundBannerMobile {
	position: absolute;
	height: auto;
	z-index: 1;

	@media #{$screen-large} {
		display: none;
	}

	@media #{$screen-medium-up} {
		display: none;
	}

	@media #{$screen-medium} {
		display: none;
	}

	@media #{$screen-medium-tab} {
		display: none;
	}

	@media #{$screen-small} {
		width: small(324);
		right: small(-145);
		top: small(103);
		transform: rotate(12deg);
	}
}

.shadowBlock {
	position: absolute;
	backface-visibility: hidden;
	z-index: 0;
	border-radius: 50%;

	@media #{$screen-large} {
		background: rgba(255, 170, 72, 0.7);
		width: 734px;
		height: 169px;
		right: large(16);
		top: large(488);
		filter: blur(85px);
	}

	@media #{$screen-medium-up} {
		background: rgba(255, 170, 72, 0.7);
		width: 734px;
		height: 169px;
		right: 16px;
		top: 488px;
		filter: blur(85px);
	}

	@media #{$screen-medium} {
		background: rgba(255, 170, 72, 0.7);
		width: medium(734);
		height: medium(169);
		right: medium(16);
		top: medium(488);
		filter: blur(85px);
	}

	@media #{$screen-medium-tab} {
		background: rgba(255, 170, 72, 0.7);
		width: medium-tab(734);
		height: medium-tab(300);
		right: medium-tab(16);
		bottom: medium-tab(105);
		filter: blur(105px);
	}

	@media #{$screen-small} {
		background: rgba(255, 170, 72, 0.4);
		width: small(734);
		height: small(300);
		bottom: small(-60);
		left: -50%;
		filter: blur(85px);
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media #{$screen-large} {
		padding: large(15) 0;
		margin-bottom: large(80);
	}

	@media #{$screen-medium-up} {
		padding: 15px 0;
		margin-bottom: 80px;
	}

	@media #{$screen-medium} {
		padding: medium(15) 0;
		margin-bottom: medium(80);
	}

	@media #{$screen-medium-tab} {
		padding: medium-tab(15) 0;
		margin-bottom: medium-tab(90);
	}

	@media #{$screen-small} {
		padding: small(5) 0 small(15);
		margin-bottom: small(20);
	}
}

.logoLink {
	display: flex;

	@media #{$screen-large} {
		width: large(250);
		height: large(90);
	}

	@media #{$screen-medium-up} {
		width: 250px;
		height: 90px;
	}

	@media #{$screen-medium} {
		width: medium(250);
		height: medium(90);
	}

	@media #{$screen-medium-tab} {
		width: medium-tab(190);
		height: medium-tab(68);
	}

	@media #{$screen-small} {
		width: small(190);
	}
}

.loginButton {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #fff;
	border: none;
	outline: none;
	// background: linear-gradient(
	// 		0deg,
	// 		rgba(249, 134, 0, 0.5),
	// 		rgba(249, 134, 0, 0.5)
	// 	),
	// 	#ffffff;
	background: #f98600;
	border: 1px solid rgba(0, 0, 0, 0.05);

	@media #{$screen-large} {
		font-size: large(18);
		line-height: large(22);
		height: large(50);
		border-radius: large(5);
		padding: 0 large(67);
	}

	@media #{$screen-medium-up} {
		font-size: 18px;
		line-height: 22px;
		height: 50px;
		border-radius: 5px;
		padding: 0 67px;
	}

	@media #{$screen-medium} {
		font-size: medium(18);
		line-height: medium(22);
		height: medium(50);
		border-radius: medium(5);
		padding: 0 medium(67);
	}

	@media #{$screen-medium-tab} {
		font-size: medium-tab(16);
		line-height: medium-tab(18);
		height: medium-tab(36);
		border-radius: medium-tab(5);
		padding: 0 medium-tab(27);
	}

	@media #{$screen-small} {
		font-size: small(15);
		line-height: small(18);
		height: small(35);
		border-radius: small(5);
		padding: 0 small(28);
	}

	&:hover {
		background: #f08912;
	}
}

.content {
	position: relative;
	z-index: 2;

	h1 {
		color: #585757;

		@media #{$screen-large} {
			background: rgba(247, 252, 255, 1);
			width: large(612);
			font-size: large(55);
			line-height: large(66);
			padding: large(15) 0 large(15) 0;
			border-radius: large(10);
			margin-bottom: large(20);
		}

		@media #{$screen-medium-up} {
			background: rgba(247, 252, 255, 1);
			width: 612px;
			font-size: 55px;
			line-height: 66px;
			padding: 15px 0 15px 0;
			border-radius: 10px;
			margin-bottom: 20px;
		}

		@media #{$screen-medium} {
			background: rgba(247, 252, 255, 1);
			width: medium(612);
			font-size: medium(55);
			line-height: medium(66);
			padding: medium(15) 0 medium(15) 0;
			border-radius: medium(10);
			margin-bottom: medium(20);
		}

		@media #{$screen-medium-tab} {
			background: rgba(247, 252, 255, 0.8);
			width: medium-tab(490);
			font-size: medium-tab(48);
			line-height: medium-tab(59);
			padding: medium-tab(15) medium-tab(15) medium-tab(15) 0;
			border-radius: medium-tab(10);
			margin-bottom: medium-tab(25);
		}

		@media #{$screen-small} {
			background: rgba(247, 252, 255, 0.4);
			font-size: small(36);
			line-height: small(44);
			padding: small(15) 0 small(15) 0;
			border-radius: small(10);
		}

		span {
			color: #000;
			font-weight: 900;
		}
	}
}

.subtitle {
	font-weight: 400;
	color: #f98600;

	@media #{$screen-large} {
		font-size: large(24);
		line-height: large(32);
		margin-bottom: large(35);
	}

	@media #{$screen-medium-up} {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 35px;
	}

	@media #{$screen-medium} {
		font-size: medium(24);
		line-height: medium(32);
		margin-bottom: medium(35);
	}

	@media #{$screen-medium-tab} {
		font-size: medium-tab(24);
		line-height: medium-tab(25);
		margin-bottom: medium-tab(84);
		width: medium-tab(279);
	}

	@media #{$screen-small} {
		font-size: small(18);
		line-height: small(24);
		margin-bottom: small(21);
	}
}

.formContainer {
	position: relative;

	@media #{$screen-large} {
		width: large(612);
		margin-bottom: large(80);
	}

	@media #{$screen-medium-up} {
		width: 612px;
		margin-bottom: 80px;
	}

	@media #{$screen-medium} {
		width: medium(612);
		margin-bottom: medium(80);
	}

	@media #{$screen-medium-tab} {
		width: 100%;
		margin-bottom: medium-tab(50);
	}

	@media #{$screen-small} {
		width: 100%;
		margin-bottom: small(30);
	}
}

.formTitle {
	color: #000;
	font-weight: 700;

	@media #{$screen-large} {
		font-size: large(24);
		line-height: large(32);
		margin-bottom: large(25);
	}

	@media #{$screen-medium-up} {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 25px;
	}

	@media #{$screen-medium} {
		font-size: medium(24);
		line-height: medium(32);
		margin-bottom: medium(25);
	}

	@media #{$screen-medium-tab} {
		text-align: center;
		font-size: medium-tab(24);
		line-height: medium-tab(32);
		margin-bottom: medium-tab(29);
	}

	@media #{$screen-small} {
		font-size: small(16);
		line-height: small(24);
		margin-bottom: small(17);
	}

	span {
		color: #f98600;
	}
}

.subscrybeForm {
	display: flex;
	justify-content: space-between;

	@media #{$screen-small} {
		flex-direction: column;
	}

	input {
		outline: none;
		font-weight: 200;
		color: #585757;
		border: 1px solid #f5c99c;
		background: #fff;

		@media #{$screen-large} {
			width: large(400);
			height: large(50);
			font-size: large(12);
			line-height: large(12);
			padding-left: large(10);
			border-radius: large(7);
		}

		@media #{$screen-medium-up} {
			width: 400px;
			height: 50px;
			font-size: 12px;
			line-height: 12px;
			padding-left: 10px;
			border-radius: 7px;
		}

		@media #{$screen-medium} {
			width: medium(400);
			height: medium(50);
			font-size: medium(12);
			line-height: medium(12);
			padding-left: medium(10);
			border-radius: medium(7);
		}

		@media #{$screen-medium-tab} {
			width: medium-tab(483);
			height: medium-tab(50);
			font-size: medium-tab(12);
			line-height: medium-tab(12);
			padding-left: medium-tab(10);
			border-radius: medium-tab(5);
		}

		@media #{$screen-small} {
			width: 100%;
			height: small(40);
			font-size: small(12);
			line-height: small(12);
			padding-left: small(10);
			border-radius: small(5);
			margin-bottom: small(12);
		}
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		color: #fff;
		border: none;
		outline: none;
		// background: linear-gradient(
		// 		0deg,
		// 		rgba(249, 134, 0, 0.5),
		// 		rgba(249, 134, 0, 0.5)
		// 	),
		// 	#ffffff;
		background: #f98600;
		border: 1px solid rgba(0, 0, 0, 0.05);

		@media #{$screen-large} {
			font-size: large(18);
			line-height: large(22);
			height: large(50);
			border-radius: large(5);
			padding: 0 large(38);
			min-width: large(188);
		}

		@media #{$screen-medium-up} {
			font-size: 18px;
			line-height: 22px;
			height: 50px;
			border-radius: 5px;
			padding: 0 38px;
			min-width: 188px;
		}

		@media #{$screen-medium} {
			font-size: medium(18);
			line-height: medium(22);
			height: medium(50);
			border-radius: medium(5);
			padding: 0 medium(38);
			min-width: medium(188);
		}

		@media #{$screen-medium-tab} {
			font-size: medium-tab(14);
			line-height: medium-tab(22);
			height: medium-tab(50);
			border-radius: medium-tab(5);
			padding: 0 medium-tab(72);
			min-width: medium-tab(230);
		}

		@media #{$screen-small} {
			justify-content: center;
			width: 100%;
			font-size: small(14);
			line-height: small(18);
			height: small(40);
			border-radius: small(5);
		}

		&:hover {
			background: #f08912;
		}
	}
}

.formError {
	color: #f45b39;
	font-weight: 400;

	@media #{$screen-large} {
		position: absolute;
		font-size: large(14);
		line-height: large(18);
		bottom: large(-27);
		left: large(8);
	}

	@media #{$screen-medium-up} {
		position: absolute;
		font-size: 14px;
		line-height: 18px;
		bottom: -27px;
		left: 8px;
	}

	@media #{$screen-medium} {
		position: absolute;
		font-size: medium(14);
		line-height: medium(18);
		bottom: medium(-27);
		left: medium(8);
	}

	@media #{$screen-medium-tab} {
		position: absolute;
		font-size: medium-tab(14);
		line-height: medium-tab(18);
		bottom: medium-tab(-27);
		left: medium-tab(8);
	}

	@media #{$screen-small} {
		font-size: small(12);
		line-height: small(18);
		margin: small(-5) 0 small(10) small(8);
	}
}

.successSendingForm {
	position: relative;
	display: flex;
	align-items: center;
	background: #e5f8eb;
	color: #1dc14b;

	@media #{$screen-large} {
		font-size: large(16);
		line-height: large(21);
		padding: large(4) large(25) large(4) large(9);
		border-radius: large(7);
	}

	@media #{$screen-medium-up} {
		font-size: 16px;
		line-height: 21px;
		padding: 4px 25px 4px 9px;
		border-radius: 7px;
	}

	@media #{$screen-medium} {
		font-size: medium(16);
		line-height: medium(21);
		padding: medium(4) medium(25) medium(4) medium(9);
		border-radius: medium(7);
	}

	@media #{$screen-medium-tab} {
		font-size: medium-tab(16);
		line-height: medium-tab(21);
		padding: medium-tab(4) medium-tab(25) medium-tab(4) medium-tab(9);
		border-radius: medium-tab(7);
	}

	@media #{$screen-small} {
		font-size: small(16);
		line-height: small(21);
		padding: small(14) small(25) small(15) small(9);
		border-radius: small(7);
	}

	span {
		display: block;
		position: absolute;
		cursor: pointer;

		@media #{$screen-large} {
			width: large(18);
			height: large(18);
			right: large(3);
			top: large(3);
		}

		@media #{$screen-medium-up} {
			width: 18px;
			height: 18px;
			right: 3px;
			top: 3px;
		}

		@media #{$screen-medium} {
			width: medium(18);
			height: medium(18);
			right: medium(3);
			top: medium(3);
		}

		@media #{$screen-medium-tab} {
			width: medium-tab(18);
			height: medium-tab(18);
			right: medium-tab(3);
			top: medium-tab(3);
		}

		@media #{$screen-small} {
			width: small(18);
			height: small(18);
			right: small(3);
			top: small(3);
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.info {
	background: #fff;
	font-weight: 400;
	border: 1px solid #f5c99c;

	@media #{$screen-large} {
		font-size: large(16);
		line-height: large(21);
		width: large(717);
		padding: large(20) large(40);
		border-radius: large(7);
	}

	@media #{$screen-medium-up} {
		font-size: 16px;
		line-height: 21px;
		width: 717px;
		padding: 20px 40px;
		border-radius: 7px;
	}

	@media #{$screen-medium} {
		font-size: medium(16);
		line-height: medium(21);
		width: medium(717);
		padding: medium(20) medium(40);
		border-radius: medium(7);
	}

	@media #{$screen-medium-tab} {
		font-size: medium-tab(16);
		line-height: medium-tab(21);
		padding: medium-tab(29) medium-tab(40);
		border-radius: medium-tab(7);
	}

	@media #{$screen-small} {
		color: #969696;
		font-size: small(13);
		line-height: small(16);
		padding: small(10) small(20);
		border-radius: small(5);
	}
}

.headerMenuContainer {
	display: flex;
	align-items: center;
}

.userAvatar {
	cursor: pointer;
	outline: none;
	border: 2px solid #f5c99c;
	border-radius: 50%;

	@media #{$screen-large} {
		width: large(35);
		height: large(35);
		margin-right: large(8);
	}

	@media #{$screen-medium-up} {
		width: 35px;
		height: 35px;
		margin-right: 8px;
	}

	@media #{$screen-medium} {
		width: medium(35);
		height: medium(35);
		margin-right: medium(8);
	}

	@media #{$screen-medium-tab} {
		width: medium-tab(35);
		height: medium-tab(35);
		margin-right: medium-tab(8);
	}

	@media #{$screen-small} {
		width: small(35);
		height: small(35);
		margin-right: small(8);
	}

	span {
		border-radius: 50%;
	}

	&:hover {
		border: 2px solid #f09132;
	}
}

.logout {
	cursor: pointer;
	outline: none;

	@media #{$screen-large} {
		width: large(24);
		height: large(24);
		margin-right: large(20);
	}

	@media #{$screen-medium-up} {
		width: 24px;
		height: 24px;
		margin-right: 20px;
	}

	@media #{$screen-medium} {
		width: medium(24);
		height: medium(24);
		margin-right: medium(20);
	}

	@media #{$screen-medium-tab} {
		width: medium-tab(24);
		height: medium-tab(24);
		margin-right: medium-tab(20);
	}

	@media #{$screen-small} {
		width: small(24);
		height: small(24);
		margin-right: small(20);
	}

	svg {
		width: 100%;
		fill: #878484;
	}

	&:hover {
		svg {
			fill: #000;
		}
	}
}
